<div class="navigation-inner clearfix" role="navigation">
    {{#if _accessibility._isEnabled}}
    <button id="accessibility-toggle" class="base icon icon-accessibility a11y-ignore-focus"></button>
    <span id="accessibility-instructions" class="aria-label" role="region" tabindex="0"></span>
    {{/if}}
    {{{a11y_aria_label _config._ariaLabels.navigation}}}
</div>